.statistics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 320px;
  text-align: left;

  p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;

    &.good {
      color: #28c76f;
    }

    &.neutral {
      color: #ffa400;
    }

    &.bad {
      color: #ea5455;
    }

    &.total {
      font-weight: bold;
      color: #5e5873;
    }

    &.positive {
      font-weight: bold;
      color: #00cfe8;
    }
  }
}
